<div class="keyborad-border d-flex-justify-space keyborad-positon-bottom d-none" id="virtualKeyboard">
    <div class="row">
        <input type="button" class="keyboard-btn" value="1" />
        <input type="button" class="keyboard-btn" value="2" />
        <input type="button" class="keyboard-btn" value="3" />
        <input type="button" class="keyboard-btn" value="4" />
        <input type="button" class="keyboard-btn" value="5" />
        <input type="button" class="keyboard-btn" value="6" />
        <input type="button" class="keyboard-btn" value="7" />
        <input type="button" class="keyboard-btn" value="8" />
        <input type="button" class="keyboard-btn" value="9" />
        <input type="button" class="keyboard-btn" value="0" />
    </div>
    <div class="row">
        <input type="button" class="keyboard-btn" value="q" />
        <input type="button" class="keyboard-btn" value="w" />
        <input type="button" class="keyboard-btn" value="e" />
        <input type="button" class="keyboard-btn" value="r" />
        <input type="button" class="keyboard-btn" value="t" />
        <input type="button" class="keyboard-btn" value="y" />
        <input type="button" class="keyboard-btn" value="u" />
        <input type="button" class="keyboard-btn" value="i" />
        <input type="button" class="keyboard-btn" value="o" />
        <input type="button" class="keyboard-btn" value="p" />
    </div>
    <div class="row">
        <input type="button" class="keyboard-btn" value="a" />
        <input type="button" class="keyboard-btn" value="s" />
        <input type="button" class="keyboard-btn" value="d" />
        <input type="button" class="keyboard-btn" value="f" />
        <input type="button" class="keyboard-btn" value="g" />
        <input type="button" class="keyboard-btn" value="h" />
        <input type="button" class="keyboard-btn" value="j" />
        <input type="button" class="keyboard-btn" value="k" />
        <input type="button" class="keyboard-btn" value="l" />
    </div>
    <div class="row">
        <input type="button" class="keyboard-btn" value="z" />
        <input type="button" class="keyboard-btn" value="x" />
        <input type="button" class="keyboard-btn" value="c" />
        <input type="button" class="keyboard-btn" value="v" />
        <input type="button" class="keyboard-btn" value="b" />
        <input type="button" class="keyboard-btn" value="n" />
        <input type="button" class="keyboard-btn" value="m" />
        <input type="button" class="keyboard-btn" value="." />
        <input type="button" class="keyboard-btn" value="," />
        <input type="button" class="keyboard-btn" value="Clear" style="width: auto; color: #fff; background-color: #d50707; border-color: #d50707;" />
    </div>
    <div class="row">
        <input type="button" class="keyboard-btn" value="Space" style="width: 500px;" />
        <input type="button" class="keyboard-btn" value="Backspace" style="width: auto;" />
    </div>
</div>