<div class='tab-panel' id='panel-5' style='padding-left: 0px;padding-right: 0px;'>
  <h1 class='text-center p-1'>CCTV</h1>

  {{! <div class='d-flex-space-evenly'>
    <button class='default-btn' style='border: 2px solid #d6d613;
    color: #fff; background-color: #5f5f07;'> Normal Mode </button>
    <button class='default-btn' style='border: 2px solid #2e2ed8;background-color: #2e2ed8;color:#fff'>
      Cyclic Mode
    </button>
    <button class='default-btn' style='border: 2px solid red; background-color: red;color:#fff'>Events</button>
  </div> }}

 <div>
  <h2 id="loading" class="text-center loading-span d-none">Loading...</h2>
 </div>
</div>