<div class='container'>
  <!-- Train Error Configuration -->
  <div class='consite-card-center'>
    <div class='text-center' id='errorPage'>
      <h1 class='err-statusCode' id=''>{{statusCode}}</h1>
      <h1 class='err-message'>{{message}}</h1>
      <h1 class='err-message'>{{requestStatus}}</h1>
      <a role='button' class='f-18' href='/trainstatus'>
        <span>Click to Home Page</span>
      </a>
    </div>

  </div>

  <!-- End Error Route configuraion -->
</div>