<div class="tab-panel" id="panel-4">
  <div class="">
    <div class="p-1">
      <h1 class="text-center p-1">ISOLATION</h1>
    </div>
    <div class="col-12">
      <div class="row align-center bg-lightblack p-1">

        <div class="col-12 p-1">
          <div class="col-12 d-flex-justify-space">
            <button class="default-btn mx-3">DRM</button>
          </div>
        </div>

        <div class="col-12 p-1">
          <div class="col-12 d-flex-justify-space">
            <button class="default-btn mx-3">PID</button>
          </div>
        </div>

        <div class="col-12 p-1">
          <div class="col-12 d-flex-justify-space">
            <button class="default-btn mx-3">IEDD</button>
          </div>
        </div>

        <div class="col-12 p-1">
          <div class="col-12 d-flex-justify-space">
            <button class="default-btn mx-3">PEI</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>