<div class='container'>
    <!-- Train Consist Configuration -->
    <div class='consite-card-center'>
        <div class='d-flex-column-center'>
            <img src='./images/Chennai_Metro_logo.svg' alt='Chennai Metro logo' />
            <h1 class='title text-center' >{{welcomeTitle}}</h1>
            
        </div>
    </div>
    <!-- End Train Route configuraion -->
</div>